.App {
display: flex;
flex-direction: column;
}

.breakingNews {
  width: 20vw;
  margin-top: 30px;
  align-self: center;
  margin-bottom: 50px;

}

.login{
  width: 100px;
  height: 50px;
  background-color: red;
  align-items: center;
}