.HeadLineItem {
  min-width: 400px;
  min-height: 300px;
  max-width: 300px;
  max-height: 200px;
  margin-right: 10px;
  background-image: url('../../pictures/pngwave.png');
  background-size: cover;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0
}

.newspaper {
  /* position: relative; */
  margin-top: 50px;
  font-size: 20px;
  bottom: 100px;
}

.headline {
  max-width: 220px;
  max-height: 125px;
  height: 8vh;
  margin-top: 100px;
  color: rgb(161, 25, 25);
  font-weight: bold;
  font-size: 16px;
}
