.wrapper {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 5vh;
  padding-left: 5vw;
  overflow-x: auto;
  overflow-y: hidden;
}

.HeadLineList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  font-size: 40px;
  margin: 10px;
}

::-webkit-scrollbar {
  display: none;
}

.country {
  font-size: 40px;
  font-weight: bold;
}

.flag {
  width: 100px;
  height: 100px;
  background-size: cover;
  margin-left: 100px;
}

#flagSpain {
  background-image: url('../../pictures/flag_spain.png');
}

#flagUK {
  background-image: url('../../pictures/flag_uk.png');
}